
.historyBtn {
    background-color: whitesmoke !important;
    border-radius: 8px;
}


.historyBtn .sapMBtnIcon {
    color: green !important;
}

.historyBtn .sapMBtnText {
    color: green !important;
}








